.gym-user-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px;




    /* border: 1px solid #ccc; */
    /* border-radius: 100px; */
}

.gym-user-form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
    color: black;
    font-family: catamaran, sans-serif;
}

.gym-user-form input,
.gym-user-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.gym-user-form button[type="submit"] {
    background-color: #ff3800;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.gym-user-form button[type="submit"]:hover {
    background-color: rgb(193, 84, 44);
}