.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sessions-table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}
.sessions-table-bdy {
  display: flex;
  justify-content: center;
}
