/* subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.subscription-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
} */

/* th {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
} */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}
.subscription-container {
  display: flex;
  justify-content: center;
}
